@import "../../variables.scss";

.footer {
    display: flex;
    width: 100%;
    border-top: $primary-color 1px solid;
    z-index: 2000;
    background-color: $background-color;
    box-shadow: none;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;

    a{
        margin: 0;
        padding: 0;
        background-color: $background-color;
        align-items: center;
    }

    i, img {
        color: white;
        text-decoration: none;
        margin: 0.3em;
        padding: 0.3em;
    }

    img {
        max-width: 3em;
        max-height: 3em;
        padding: 0.8em;
    }

    i:hover, img:hover{
        background-color: lighten($background-color, 10%);
        transition: 0.15s;
    }

    a:focus{
        outline: none;
        i, img {
            background-color: lighten($background-color, 10%);
            transition: 0.15s;
        }
    }

}