@import "../../variables.scss";

.sec-btn, .sec-btn:any-link {
	cursor: pointer;
	display: inline-block;
	background-color: $background-color;
	color: $text-color;
	font-family: $fonts;
	text-decoration: none;
	padding: 10px 14px;
	margin: 2px 3px;
	border-width: $border-size;
	border-style: $border-style;
	user-select: none;

	transition: background-color .15s;

	&:hover, &:focus{
		background-color: lighten($background-color, 10%);
		outline: none;
		text-decoration: none;
	}

	&.sec-kind-primary {
		border-color: $primary-color;
		color: $primary-color;
	}

	&.sec-kind-secondary {
		border-color: $secondary-color;
		color: $secondary-color;
	}

	&.sec-kind-generic {
		border-color: $button-generic-color;
	}

	&.sec-kind-warning {
		border-color: $warning-color;
		color: $warning-color;
	}

	&.sec-kind-error {
		border-color: $error-color;
		color: $error-color;
	}

	&.sec-kind-menu {
		border: none;
	}

	&.sec-kind-icon {
		border-radius: 100%;
		border: none;

		// this is to get the icon centered
		padding: 10px 12px 8px;
	}
}
