@import "../../variables.scss";

article {
	font-size: 1.15em;
	line-height: 1.8;
	padding-bottom: 8px;
	overflow-wrap: break-word;

	img,
	iframe {
		max-width: 100%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.2;
	}

	h1 {
		font-size: 2.5em;
		margin-top: 50px;

		@media (max-width: $sm-max) {
			font-size: 2em;
		}
	}

	h2 {
		font-size: 1.8em;
		margin-top: 40px;

		@media (max-width: $sm-max) {
			font-size: 1.6em;
		}
	}

	h3 {
		font-size: 1.5em;

		@media (max-width: $sm-max) {
			font-size: 1.45em;
		}
	}

	h4 {
		font-size: 1.35em;
	}

	h5 {
		font-size: 1.25em;
	}

	h5 {
		font-size: 1.2em;
	}

	:not(pre) > code {
		background: $code-background-color;
		padding: 0.1em 0.3em;
		border-radius: 0.3em;
	}

	pre > code {
		background: inherit;
		padding: none;
		border-radius: none;
	}
}
