@import "../../variables.scss";

.team-page {
    body {
        line-height: 1.8;
    }

    h1 {
        margin-top: 50px
    }
}

$box-size: 175px;

.profile {
    width: $box-size;
    padding: 10px;
    margin: 10px;

    @media (max-width: $sm-max) {
        margin: 10px;
        width: 160px;
    }

    img {
        height: $box-size - 20;
        width: $box-size - 20;
        border: 1px solid $primary-color;
        transition: filter 0.25s;

        @media (max-width: $sm-max) {
            height: 150px;
            width: 150px;
        }
    }

    a:any-link {
        text-decoration: none;
        color: $text-color;
        text-align: center;

        &:visited {
            text-decoration: none;
        }
    }

    h2 {
        font-size: 12pt;
        margin-bottom: 5px;
        text-align: center;
        white-space: nowrap;
    }
}


.role {
    border: 1px solid #f3f;
    background-color: $code-background-color;
    width: $box-size - 20;
    font-family: 'Courier New', Courier, monospace;
    padding: 1px;

    @media (max-width: $sm-max) {
        width: 150px;
    }
}

.desc {
    margin-top: 2px;
}

.contrib-header {
    margin-bottom: 10px;
}
