.slide {
	// TODO: fix image sizing and positioning on slides.
	img {
		max-width: 100%;
	}
}

.title-slide {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;

	.hero {
		width: 60%;
	}

	h1 {
		margin-top: 0;
	}
}

.side-by-side {
	display: grid;
	grid-template-columns: 50%;

	.left-content {
		grid-column-start: 1;
	}

	.right-content {
		grid-column-start: 2;
	}
}