@import "./variables.scss";
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.App {
  background-color: $background-color;
  height: 100%;
  width: 100%;
  color: $text-color;
  min-height: 100vh;

  .content-wrap {
    min-height: 100vh;
  }

  body {
    background-color: $background-color;
  }

  font-family: 'Source Code Pro', monospace;
}
