$background-color: #2b2121;
$code-background-color: darken($background-color, 5%);
$primary-color: #f22a2f;
$secondary-color: #6ce4f4;
$tertiary-color: #000;
$quaternary-color: #fff;
$text-color: #fff;

// ONLY for use in scss styles
// Use material ui useMediaQuery() when in javascript
$xs-max: 600px;
$sm-min: $xs-max;
$sm-max: 960px;
$md-min: $sm-max;
$md-max: 1280px;
$lg-min: $md-max;
$lg-max: 1920px;
$xl-min: $lg-max;

:export {
	backgroundColor: $background-color;
	codeBackgroundColor: $code-background-color;
	primaryColor: $primary-color;
	secondaryColor: $secondary-color;
	textColor: $text-color;
}
