@import "./variables.scss";
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

.App {
	height: 100%;
	width: 100%;
	color: $text-color;
	min-height: 100vh;

	.content-wrap {
		min-height: 100vh;
	}

	font-family: "Source Code Pro", monospace;
}

body {
	background-color: $background-color;
}

a:any-link {
	text-decoration: none;
	color: lighten($primary-color, 5%);

	&:hover {
		text-decoration: underline;
	}
}

hr {
	border: 0;
	border-top: 1px solid $secondary-color;
	width: 90%;
}
