.le {
	animation: circuit-ends 1s ease;
}

.lc {
	stroke-dasharray: 1500;
	animation: circuit-lines 1s ease;
}

@keyframes circuit-lines {
	from {
		stroke-dashoffset: 1500;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes circuit-ends {
	0%, 15% {
		r: 0;
	}
	50%, 100% {
		r: 32px;
	}
}