@import "../variables.scss";

.le {
	fill: $background-color !important;
	stroke: $secondary-color;
	stroke-width: 10px !important;

	animation: circuit-ends 1s ease;
}

.lc {
	stroke-width: 10px !important;

	stroke-dasharray: 1500;
	animation: circuit-lines 1s ease;
}

.lt {
	fill: $background-color !important;
	stroke: $primary-color !important;
	stroke-width: 10px !important;
}

@keyframes circuit-lines {
	from {
		stroke-dashoffset: 1500;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes circuit-ends {
	0%, 15% {
		r: 0;
	}
	50%, 100% {
		r: 32px;
	}
}