@import "../../variables.scss";

.le {
	fill: $background-color !important;
	stroke: $secondary-color;
	stroke-width: 12px !important;
	r: 32px;
}

.lc {
	stroke: $secondary-color;
	stroke-width: 12px !important;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.lt {
	fill: $background-color !important;
	stroke: $primary-color !important;
	stroke-width: 12px !important;
	white-space: pre;
}
