@import "../../variables.scss";
.ProjectContainer {
  width: 25%;
  @media (max-width: $sm-max) {
    width: 50%;
    opacity: 1;
  }
}
.ProjectTile {
  background-color: $background-color;
  transition: background-color 0.25s;
  &:hover {
    background-color: lighten($background-color, 10%);
  }
}
