@import "../../variables.scss";
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.header {
    background-color: $background-color !important;
    border-bottom: $primary-color 1px solid;
    box-shadow: none !important;
}

.header-items {
    letter-spacing: 2px;
}

.drawer-item {
    width: 100%;
    justify-content: normal;
}

.barLogo {
    font-size: 40px;
    font-weight: bold;
}
