@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.barLogo, .barLogo:visited, .barLogo:active {
    font-family: 'Source Code Pro', monospace;
    font-size: 34px;
    font-weight: bold;
    color:white;
    text-decoration: none currentColor solid;
    margin-right: 10px;
}

.barLogo:hover{
    background-color: #f75551;
    border-radius: 5px;
}
