@import "../../variables.scss";

.logo {
	max-width: 1200px;
}

.pmt {
	fill: none;
	stroke: #3f3;
	stroke-width: 0.5px;
}

.quick-links {
	background: $background-color;
	box-sizing: border-box;
	display: flex;
	position: absolute;
	left: 0;
	top: 30%;
	width: 300px;
	flex-direction: column;
	text-align: center;
	padding: 10px;
	border: #ff3 $border-style $border-size;
	border-left: none;

	.sec-btn {
		margin: 5px 0;
	}
}
