@import "../../variables.scss";

.codeblock {
	background: $code-background-color;
	padding: 20px;
	border: #f3f $border-size $border-style;
	overflow-x: auto;

	.meta-container {
		position: relative;
		top: -20px;
		left: -20px;
		height: 0;
		margin-bottom: 6px;
	}

	.meta {
		display: inline;
		padding-top: 4px;
		border-bottom: #f3f $border-size $border-style;
		border-right: #f3f $border-size $border-style;
		box-sizing: border-box;

		* {
			padding: 3px 10px;
			opacity: 0.6;
		}
	}
}
