@import "../../variables.scss";

.hero {
	font-family: "Source Code Pro", monospace;
	min-height: 60vh;
	font-size: 2.5em;

	@media (max-width: $sm-max) {
		font-size: 1.5em;
	}

	.logo {
		width: 400px;

		@media (max-width: $sm-max) {
			width: 380px;
		}
	}
}