name: CI Tests

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      CI: true
      working-directory: ./sec.club
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install
      working-directory: ${{ env.working-directory }}
      run: npm ci
    - name: Test
      working-directory: ${{ env.working-directory }}
      run: npm test
    - name: Build
      working-directory: ${{ env.working-directory }}
      run: npm run build